body {
    background-color: #000;
    color: #e3e5ec;
    font-family: Annie Use Your Telescope, cursive;
}

.coin-header {
    margin-top: 2rem;
    text-align: center;
}

h2{
    margin-bottom: 2rem;
}

.table-header {
    margin: 0 130px;  
}

.container{
    transition: transform 0s linear, margin 0s linear; 
}

.table-header ul {
    align-items: center;
    background-color: #26272b;
    border-radius: 8px;
    box-shadow: 0 0 12px #18191b;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.table-header ul li {
    list-style: none;
    color: #f4f4f4;

}

.table-header ul li img {
    width: 30px;
    height: 30px;
}

.container:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.2s ease-in, margin 0.2s ease-in;
}